<p style="color: green"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @provider.name %>
  </p>

  <p>
    <strong>Provider type:</strong>
    <%= @provider.provider_type %>
  </p>


<div>
  <p>
    <%= edit_link(@provider) %>
  </p>
  <p>
    <%= link_to "Back to providers", providers_path %> 
  </p>
  <p>
    <%= destroy_link(@provider) %>
  </p>
</div>
