<div id="<%= dom_id topic %>">
  <p>
    <strong>Title:</strong>
    <%= topic.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= topic.description %>
  </p>

  <p>
    <strong>Uid:</strong>
    <%= topic.uid %>
  </p>

  <p>
    <strong>State:</strong>
    <%= topic.state %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= topic.language.name %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= topic.provider.name %>
  </p>

</div>
