<div class="card-content">
  <div class="card-body">
    <p>Languages should ... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut 
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 
      laborum.</p>
    <%= form_with(model: @language, local: true, class: "form") do |f| %>
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="form-group">
            <%= f.label :name, "Language Name" %>
            <%= f.text_field :name, class: "form-control", placeholder: "Language" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-12">
            <div class="form-group">
              <%= f.label :file_share_folder, style: "display: block" %>
              <%= f.text_field :file_share_folder, class: "form-control", placeholder: "File Share Folder" %>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-end">
            <%= submit_button(f) %>
            <%= link_to "Cancel", languages_path, class: "btn btn-light-secondary me-1 mb-1" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
