<section class="section">
  <div class="row" id="table-striped">
    <div class="col-12 cold-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h2>Languages</h2>
          <%= link_to new_language_path, class: "btn btn-primary" do %>
            <i class="bi bi-plus-circle-fill"></i> Add New Language
          <% end %>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet, <code>consectetur adipiscing</code> elit. Sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat. Duis aute irure dolor in <code>reprehenderit</code> in voluptate velit esse cillum dolore eu fugiat nulla
              pariatur. Excepteur sint <code>occaecat cupidatat</code> non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.
            </p>
            <!-- table striped -->
            <div class="table-responsive">
              <table class="table table-lg table-striped mb-0">
                <thead>
                  <tr>
                    <th>Language</th>
                    <th>File Share Folder</th>
                    <th class="text-end">Language Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% @languages.each do |language| %>
                    <tr id="<%= dom_id(language) %>" class="language-listing">
                      <td class="text-bold-500"><%= language.name %></td>
                      <td><%= language.file_share_folder %></td>
                      <td class="text-end">
                        <%= show_page_tool_link(language, "Show Language Details") %>
                        <%= link_to edit_language_path(language), class: "btn btn-secondary btn-sm" do %>
                          <i class="bi bi-pencil"></i>
                        <% end %>
                        <%= delete_tool_link(language, "Delete Language") %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
