<p style="color: green"><%= notice %></p>

<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2>Languages</h2>
          <h4><%= @language.name %></h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <%= render @language %>

            <div>
              <%= link_to "Edit this language", edit_language_path(@language) %> |
              <%= link_to "Back to languages", languages_path %>

              <%= button_to "Destroy this language", @language, method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
