<p style="color: green"><%= notice %></p>


<section id="multiple-column-form">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2>User</h2>
          <h4><%= @user.email_address %></h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <%= render @user %>

            <div>
              <%= link_to "Edit this user", edit_user_path(@user) %> |
              <%= link_to "Back to users", users_path %>

              <%= button_to "Destroy this user", @user, method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
